In [1]:
#Python basics
#input and output statements
name = input("enter your name: ")
print("hello",name)

enter your name: mounik
hello mounik

In [7]:
#data types in python
int_num = 100
float_num = 10.5
complex_num = 1+2j
string = "hello"
bool_val = True
list_example = [1,2,3]
tuple_example = (1,2,3,4)
set_example = {1,2,3}
dictionary_example = {'A':1,'B':2}

In [5]:
#expressions and operators
a=10
b=1
print(a+b)#sum
print(a-b)#difference
print(a*b)#multiplication
print(a/b)#division
print(a%b)#modulus
print(a//b)#floor division
print(a**b)#exponent

11
9
10
10.0
0
10
10

In [4]:
#comparison operator
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [3]:
#logical operator
a=10
b=1
print(a>b and a<b)
print(a>b or a<b)
print(not a>b)

False
True
False

In [8]:
#type casting
a=10
print(float(a))
print(int(a))
print(str(a))
tuple_from_list = list((1,2,3))
list_from_string = str([1,2,3])
set_from_list = set([1,2,3])
print(tuple_from_list)
print(list_from_string)
print(set_from_list)

10.0
10
10
[1, 2, 3]
[1, 2, 3]
{1, 2, 3}

In [ ]:
#conditional statements
a=10
b=1
if a>b:
    print("a is greater than b")
elif a<b:
    print("a is less than b")
else:
    print("a is equal to b")

In [9]:
#looping statements
for i in range(10):
    print(i)
count =0
while count<10:
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [10]:
#jumping statements
for i in range(10):
    if i==5:
        break
    print(i)
#using continue statement
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
0
1
2
3
4
6
7
8
9

In [ ]:
#speacial functions
fruits = ["apple","banana","cherry"]
print(len(fruits))
print(sorted(fruits))

In [ ]:
#example functions
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
print(add(10,5))
print(sub(10,5))
print(mul(10,5))
print(div(10,5))