In [9]:
#how to create a list
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [10]:
#List operations
a=[1,2,3,4,5]
print("to acess first element: ",a[0])
print("to acess last element: ",a[-1])
print("to acess range of elements: ",a[1:4])

to acess first element:  1
to acess last element:  5
to acess range of elements:  [2, 3, 4]

In [11]:
#append an element to list
a=[1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [12]:
#remove an element in a list
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [13]:
#pop an element in a list
a=[1,2,3,4,5]
a.pop(2)
print(a)

[1, 2, 4, 5]

In [14]:
#insert an element in list
a=[1,2,3,4,5]
a.insert(2,6)
print(a)

[1, 2, 6, 3, 4, 5]

In [15]:
#copy elements from one list to another
a=[1,2,3,4,5]
b=[]
for i in a:
    b.append(i)
print(b)

[1, 2, 3, 4, 5]

In [16]:
#extend in list
a=[1,2,3,4,5]
b=[6,7,8,9,10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
#reverse a list
a=[1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [18]:
#clear a list
a=[1,2,3,4,5]
a.clear()
print(a)

[]

In [19]:
#slicing the elements
a=[1,2,3,4,5]
print(a[1:4])

[2, 3, 4]

In [20]:
#creating a set
a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [21]:
#using union in set
a={1,2,3,4,5}
b={6,7,8,9,10}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
#using intersection in set
a={1,2,3,4,5}
b={6,7,8,9,10}
c=a.intersection(b)
print(c)

set()

In [23]:
#using difference in set
a={1,2,3,4,5}
b={6,7,8,9,10}
c=a.difference(b)
print(c)

{1, 2, 3, 4, 5}

In [24]:
#using symmetric difference
a={1,2,3,4,5}
b={6,7,8,9,10}
c=a.symmetric_difference(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
#adding an element to set
a={1,2,3,4,5}
a.add(6)
print(a)

{1, 2, 3, 4, 5, 6}

In [26]:
#remove an element in set
a={1,2,3,4,5}
a.remove(3)
print(a)

{1, 2, 4, 5}

In [27]:
#discard operation in set
a={1,2,3,4,5}
a.discard(3)
print(a)

{1, 2, 4, 5}

In [28]:
#pop operation in set
a={1,2,3,4,5}
a.pop()
print(a)

{2, 3, 4, 5}

In [29]:
#clear operation in set
a={1,2,3,4,5}
a.clear()
print(a)

set()

In [30]:
#copy operation in two sets
a={1,2,3,4,5}
b=(a)
print(b)

{1, 2, 3, 4, 5}

In [31]:
#update operation in sets
a={1,2,3,4,5}
b={6,7,8,9,10}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [32]:
#using is sub set in sets
a={1,2,3,4,5}
b={6,7,8,9,10}
c=a.issubset(b)
print(c)

False

In [33]:
#checking an element using in keyword
a={1,2,3,4,5}
print(3 in a)

True

In [34]:
#frozen set usage
a=frozenset({1,2,3,4,5})
print(a)

frozenset({1, 2, 3, 4, 5})

In [35]:
#creating a tuple
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [36]:
#usage of tuple constructor
a=tuple([1,2,3,4,5])
print(a)

(1, 2, 3, 4, 5)

In [37]:
#printing the second element in tuple
a=(1,2,3,4,5)
print(a[1])

2

In [38]:
#convert tuple to list
a=(1,2,3,4,5)
b=list(a)
print(b)

[1, 2, 3, 4, 5]

In [39]:
#usage of asterisk in tuple
a=(1,2,3,4,5)
b,*c=a
print(b)
print(c)

1
[2, 3, 4, 5]

In [40]:
#usage of for loop in tuples
a=(1,2,3,4,5)
for i in a:
    print(i)

1
2
3
4
5

In [41]:
#joining of tuples
a=(1,2,3,4,5)
b=(6,7,8,9,10)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [42]:
#making multiple tuples
a=(1,2,3,4,5)
b=(6,7,8,9,10)
c=(a,b)
print(c)

((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

In [43]:
#usage of count in tuples
a=(1,2,3,4,5)
print(a.count(3))

1

In [44]:
#usage of index method in tuples
a=(1,2,3,4,5)
print(a.index(3))

2

In [45]:
#finding length of tuple
a=(1,2,3,4,5)
print(len(a))

5

In [46]:
#smallest among tuple
a=(1,2,3,4,5)
print(min(a))

1

In [47]:
#sort in tuple
a=(1,2,3,4,5)
b=sorted(a)
print(b)

[1, 2, 3, 4, 5]

In [48]:
#creating a dictionary
a={'a':1,'b':2,'c':3}
print(a)

{'a': 1, 'b': 2, 'c': 3}

In [49]:
#accessing and modifying values in dictionary
a={'a':1,'b':2,'c':3}
print(a['a'])
a['b']=4
print(a)

1
{'a': 1, 'b': 4, 'c': 3}

In [50]:
#usage keys in dictionary
a={'a':1,'b':2,'c':3}
print(a.keys())

dict_keys(['a', 'b', 'c'])

In [51]:
#usage of items in dictionary
a={'a':1,'b':2,'c':3}
print(a.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [52]:
#usage of get in dictionary
a={'apple':1,'orange':2}
print(a.get('apple'))

1

In [53]:
#usage of pop in dictionary
a={'apple':1,'orange':2}
a.pop('apple')
print(a)

{'orange': 2}

In [54]:
#usage of clear in dictionary
a={'apple':1,'orange':2}
a.clear()
print(a)

{}

In [55]:
#usage of copy in dictionary
a={'apple':1,'orange':2}
b=a.copy()
print(b)

{'apple': 1, 'orange': 2}

In [56]:
#adding an element in dictionary
a={'apple':1,'orange':2}
a['banana']=3
print(a)

{'apple': 1, 'orange': 2, 'banana': 3}

In [57]:
#removing an element in dictionary
a={'apple':1,'orange':2}
a.pop('apple')
print(a)

{'orange': 2}

In [58]:
#creating a list from two lists
a=[1,2,3,4,5]
b=['a','b','c','d','e']
c=dict(zip(a,b))
print(c)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [59]:
#inverting an dictionary
a={'a':1,'b':2,'c':3}
b=dict((v,k) for k,v in a.items())
print(b)

{1: 'a', 2: 'b', 3: 'c'}

In [60]:
#sort in dictionary
a={'apple':1,'orange':2}
b=sorted(a)
print(b)

['apple', 'orange']